<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>

	<insert id="addStore" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		insert into building(name，building_id) values(#{name},#{buildingId})
	</insert>


</mapper>